body
{
  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    h2 {
    color: rgb(255, 255, 255);
   text-shadow: none ;
    background-color: rgb(9, 92, 131);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    margin-top: 300px;
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 150px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 100px;
    height: 160px;
    width: 800px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
     'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
 
  
  .button1 {background-color: #170277;}
 .button1:hover {
    background-color: #9fff04;
    color: rgb(253, 247, 247);
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .navbar {
    overflow: hidden;
    background-color: rgb(46, 74, 167);
    width: 1520px;
    margin-left: -10px;
   
  }
  
  .navbar a {
    float: left;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 20px 16px;
    background-color: inherit;
    font-family: inherit;
    text-align: center;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(48, 49, 49);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(238, 239, 241);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(100, 98, 98);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  
  form{
    background-image: url('gr2.jpg');
    width: 450px;
    height: 730px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(135, 156, 156);
    padding: 40px 10px;
    margin: 20px;
    
  }
  
  
  footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 104%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 0px;
  margin-left: -10px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}



.footer-distributed .footer-left img{
	width: 50%;
  margin-left: 0%;
}

.footer-distributed h3 span{
	color:  #e0ac1c;
}



.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}



.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #2e3031;
	color: #ffffff;
	font-size: 25px;
	width: 1550px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}



.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}



@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
